{{#each categories as |category|}}
    <label class="checkbox-label {{if category.parentCategory 'checkbox-label--indent' }}">
        <Input
            @type="checkbox"
            @checked={{category.checked}}
            {{on "click" (fn this.actions.onChange this category)}}
        />
        {{category.name}}
    </label>
{{/each}}
