{{#each categories as |category|}}
    <label class="checkbox-label {{if category.parentCategory 'checkbox-label--indent' }}">
        {{input type="checkbox" checked=category.checked change=(action "onChange" category)}}
        {{category.name}}
    </label>
{{/each}}
