{{#each categories as |category|}}
    <label class="checkbox-label">
        {{input type="checkbox" checked=category.checked change=(action "onChange")}}
        {{category.name}}
    </label>
{{/each}}
