<div class="control-group mailing-list-notifications">
    <label class="control-label">{{i18n 'user.mailing_lists'}}</label>

    {{category-checkbox-list categories=model.watchedCategories blacklist=selectedCategories}}
</div>
